:root {
  font-size: 62.5%;
  /* variavel fonts*/
  --font-staatlinches: "Staatliches", sans-serif;
  --font-palanquin: "Palanquin", cursive;

  /* paleta de cores */
  --color-1: rgba(74, 78, 105, 1);
  --color-2: rgba(142, 154, 175, 1);
  --color-3: rgba(203, 192, 211, 1);
  --color-4: rgba(254, 234, 250, 1);
  --color-5: rgba(239, 241, 255, 1);
}

* {
  padding: 0;
  margin: 0;

  box-sizing: 0;
}

body {
  background-color: var(--color-5);
  font-size: 1.6rem;
  font-family: var(--font-palanquin);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(100%, 8rem + 30vw, 60rem);

  background: var(--color-2);
}

header h1 {
  background: var(--color-4);

  text-align: center;

  margin-bottom: 2.9rem;
  padding: 0.8rem 0;

  width: 100%;

  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.3rem;
  font-family: var(--font-staatlinches);

  color: var(--color-5);

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header img {
  margin: 3.2rem 0 4rem;

  width: clamp(15rem, 10rem + 10vw, 40rem);
  height: clamp(15rem, 10rem + 10vw, 40rem);
}

header p {
  display: none;
}

.page {
  width: clamp(33rem, 10rem + 20vw), 100%;
  margin-inline: auto;

  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
}

.page p {
  margin-block: 2rem;
}

main {
  display: grid;

  margin: auto;
  padding-block: 2rem;

  gap: 2.3rem;
}

.card {
  position: relative;

  max-width: 35rem;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card span {
  position: absolute;

  font-family: var(--font-staatlinches);
  font-size: 2rem;
  line-height: 3.4rem;

  padding: 0.1rem 2.3rem;

  top: 1.6rem;
  right: 1.6rem;

  letter-spacing: 0.05em;

  color: var(--color-1);
  background: var(--color-5);

  border-radius: 2rem;

  animation: span 1s 700ms backwards;
}

@keyframes chield-1 {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes chield-2 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes chield-3 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes chield-4 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes span {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 390px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .card:nth-child(1) {
    animation: chield-1 700ms 200ms backwards;
  }
  .card:nth-child(2) {
    animation: chield-2 700ms backwards;
  }
  .card:nth-child(3) {
    animation: chield-3 700ms 500ms backwards;
  }
  .card:nth-child(4) {
    animation: chield-4 700ms 700ms backwards;
  }
}

@media (min-width: 800px) {
  header p {
    display: block;

    padding: 2rem;
  }

  .page p {
    display: none;
  }

  main {
    grid-template-areas:
      "B A"
      "B D"
      "C D"
      "C D";
  }
  body {
    display: flex;
  }

  header {
    max-width: 70rem;
    min-height: 100vh;
  }

  .card:nth-child(1) {
    animation: chield-1 700ms 200ms backwards;
    grid-area: A;
  }
  .card:nth-child(2) {
    animation: chield-2 700ms backwards;
    grid-area: B;
  }
  .card:nth-child(3) {
    animation: chield-3 700ms 500ms backwards;
    grid-area: C;
  }
  .card:nth-child(4) {
    animation: chield-4 700ms 700ms backwards;
    grid-area: D;
  }
}
